.c-input {
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #333;
    outline: none;
    height: 50px;
    width: 100%;
    color: white;
}

.c-input:hover {
    background-color: #444;
}

.c-input:focus {
    outline: 1px solid rgb(203, 7, 7);
}